/*
Я поставила паддинги и марджины на своё усмотрение,
но вы лучше посмотрите, как лучше смотрится, и, если что, замените их
*/
.header-fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.logo {
    margin-right: auto;
}

.red {
    color: #ff0000;
}

.white {
    color: white;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}


.header_nav-link-item {
    color: white;
    text-decoration: none;
}

.header-scrollable {

    background-image: url('../../assets/images/HeaderScroll.png');
    background-size: cover;
    background-position: center;
    background-attachment: local;

    min-height: 500px;
    width: 100%;

    overflow-y: auto;
    max-height: 300px;

    
    h1, h3 {
    // !!!Уменьшить отступ между абзацами!!!
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    text-align: center;
    }

    h1 {
        margin-bottom: 0px;
    }
}
