.footer {
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

// АДАПТИВНОСТЬ
@media (max-width: 768px) {
    .footer {
        padding: 18px 25px;
    }
        
    p {
            font-size: 14px;
    }
}
    
@media (max-width: 480px) {
    .footer {
        padding: 12px 15px;
    }
        
    p {
        font-size: 11px;
    }
}

@media (min-width: 1440px) {
    .footer {
        padding: 25px 50px;
    }
        
    p {
        font-size: 18px;
    }
}
